html,body {
	height: 100%;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	color: #322429;
	font-weight: 700;
}
h1 {font-size: 70px;}
h2 {font-size: 36px;}
h3 {font-size: 30px;}
h4 {font-size: 24px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}
p {
	font-size: 15px;
	color: #6a6a6a;
	line-height: 2;
}
img {
	max-width: 100%;
}
input:focus,select:focus,button:focus,textarea:focus {
	outline: none;
}
a:hover,a:focus {
	text-decoration: none;
	outline: none;
}
ul,ol {
	padding: 0;
	margin: 0;
}
/*Helper CSS*/
.section-title {
	text-align: center;
	margin-bottom: 65px;
}
.section-title-dest {
	text-align: left;
	margin-bottom: 30px;
}
.section-title h2 {
	font-size: 72px;
}
.section-title p {
	padding: 25px 30px 10px;
	margin-bottom: 0;
}
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 3px;
}
.spad {
	padding-top: 110px;
	padding-bottom: 110px;
}
.text-white h1,.text-white h2,.text-white h3,.text-white h4,.text-white h5,.text-white h6,.text-white p,.text-white span,.text-white li,.text-white a {
	color: #fff;
}
/*Commom elements buttons */
.site-btn {
	display: inline-block;
	border: none;
	padding: 21px 44px;
	min-width: 156px;
	font-size: 16px;
	background: #ff000a;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
}
.site-btn:hover {
	color: #fff;
}
.site-btn.sb-light {
	background: #fff;
	color: #241e1e;
}
.site-btn.sb-big {
	font-weight: 700;
	font-family: "Lato", sans-serif;
	padding: 21px 48px;
}
/*Header section*/
.header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	padding: 0 53px;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
}
.header-section.header-bg-2 {
	background: rgba(34, 34, 34, 0.83);
}
.header-nav {
	text-align: right;
	padding-top: 35px;
}

.site-logo {
	float: left;
	padding: 39px 0;
}
.main-menu {
	display: inline-block;
	padding-right: 30px;
}
.main-menu li {
	display: inline-block;
	position: relative;
}
.main-menu li a {
	display: block;
	font-size: 16px;
	color: #ffffff;
	font-family: "Lato", sans-serif;
	padding: 0 1px 5px;
	border-bottom: 2px solid transparent;
	margin-right: 45px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.main-menu li a:hover,
.main-menu li a.active {
	border-bottom: 2px solid #ff000a;
}
.main-menu li:hover>.sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 20px;
}
.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	text-align: left;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
}
.main-menu .sub-menu::before {
	position: absolute;
	content: "";
	left: 15px;
	top: -7px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 7px solid #fff;
}
.main-menu .sub-menu:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 20px;
	left: 0;
	top: -20px;
}
.main-menu .sub-menu li {
	display: block;
}
.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 5px 20px;
	border-bottom: none;
}
.main-menu .sub-menu li a:hover {
	color: #ff000a;
}
.header-right {
	display: inline-block;
}
.header-right a {
	color: #fff;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	display: inline-block;
}
.header-right .register {
	border: 2px solid #fff;
	min-width: 130px;
	text-align: center;
	padding: 8px 15px;
	margin-left: 25px;
}
.slicknav_menu {
	display: none;
}
/*Hero section*/
.hero-section {
	height: 700px;
	padding-top: 200px;
	margin-bottom: 50px;
}
.hero-warp {
	padding: 27px 48px 31px;
	background: rgba(34, 36, 43, 0.83);
}
.main-search-form {
	font-family: "Lato", sans-serif;
}
.main-search-form p {
	font-size: 12px;
	color: #b6b6b6;
	font-style: italic;
	margin-bottom: 0;
}
.search-type .st-item {
	display: inline-block;
}
.search-type .st-item input {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}
.search-type .st-item input:checked+label {
	padding: 11px 30px;
	background: #ff000a;
}
.search-type .st-item input:checked+label:after {
	bottom: -15px;
	opacity: 1;
	-webkit-transition: all 0.2s ease 0.3s;
	transition: all 0.2s ease 0.3s;
}
.search-type label {
	position: relative;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	color: #fff;
	padding: 11px 10px;
	margin-right: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.search-type label:after {
	position: absolute;
	content: "";
	bottom: -25px;
	left: calc(50% - 4px);
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 7px solid #fff;
	opacity: 0;
}
.search-input {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 23px;
}
.search-input input {
	width: calc(100% - 156px);
	height: 71px;
	padding-left: 47px;
	color: #3a3a3a;
	font-style: italic;
	border: none;
}
.search-input.si-v-2 input {
	width: calc(100% - 384px);
}
.search-input.si-v-2 .sb-light {
	margin-left: 25px;
	min-width: 203px;
}
/* Hero section*/
.property-section {
	padding-bottom: 52px;
}
.property-section .section-title {
	margin-bottom: 90px;
}
/*Loan section*/
.loan-section {
	padding: 0 54px;
	margin-top: 50px;
	margin-bottom: 5%;
}
.loan-warp {
	background: #22242b;
	padding: 85px 0 80px;
}
.loan-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 878px;
	margin: 0 auto;
}
.loan-form input {
	width: 100%;
	height: 61px;
	padding: 10px 25px;
	color: #3a3a3a;
	font-size: 16px;
	font-style: italic;
	border: none;
	margin-right: 30px;
}
/*Footer section*/
.footer-section {
	padding: 110px 0 0;
	background: #22242b;
}
.footer-widger {
	margin-bottom: 60px;
}
.footer-widger h2 {
	font-size: 18px;
	font-weight: 500;
	padding-top: 65px;
	margin-bottom: 33px;
}
.footer-widger ul {
	list-style: none;
}
.footer-widger ul li a {
	font-size: 16px;
	display: inline-block;
	margin-bottom: 13px;
	opacity: 0.7;
}
.about-widget {
	margin-right: 41px;
	border-right: 2px solid #45484e;
}
.about-widget img {
	margin-bottom: 40px;
}
.about-widget .aw-text {
	max-width: 260px;
}
.about-widget .aw-text p {
	padding-right: 15px;
	margin-bottom: 35px;
}
/*Service page*/
.blog-item {
	margin-bottom: 80px;
	size: auto;
}
.blog-item img {
	max-width: 50%;
	margin-left: 150px;
}
.blog-item .blog-date {
	font-size: 16px;
	font-weight: 700;
	color: #6a6a6a;
	margin-bottom: 5px;
}
.blog-item h4 {
	margin-bottom: 20px;
}
.blog-item .blog-text {
	padding: 24px 22px 30px;
	background: #f5f8fa;
	width: fit-content;
}
.blog-item.feature-blog {
	background: #f5f8fa;
}
.blog-item.feature-blog .blog-text {
	padding-top: 60px;
}
.blog-item.feature-blog h4 {
	margin-bottom: 30px;
}
/*Comment box*/
.comment-wrapper .panel-body {
    max-height:650px;
	margin-left: 250px;
}
.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
	border:2px solid #e5e7e8;
}
.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
	margin-bottom:25px;
}
/*Search button*/
button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	text-decoration: none;
	background: transparent;
	font-size: inherit;
	font-family: inherit;
}
button.learn-more {
	width: 15rem;
	height: auto;
}
button.learn-more .circle {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #FFA114;
	border-radius: 1.625rem;
}
button.learn-more .circle .icon {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}
button.learn-more .circle .icon.arrow {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}
button.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: '';
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}
button.learn-more .button-text {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #FFA114;
	font-weight: 900;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}
button:hover .circle {
	width: 100%;
}
button:hover .circle .icon.arrow {
	background: #fff;
	-webkit-transform: translate(1rem, 0);
			transform: translate(1rem, 0);
}
button:hover .button-text {
	color: #fff;
}
@import url("https://fonts.googleapis.com/css?family=Mukta:700");

/*Service profile*/
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img img{
	margin-right: 30px;
	max-width:300px;
    max-height:200px;
    width: auto;
    height: auto;
}
.profile-img .file {
    overflow: hidden;
    margin-top: -20%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #FFA114;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
	border: none;
	color: #495057;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
	border-bottom:2px solid #FFA114;
	margin-bottom: 10px;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #FFA114;
}
/* Register button */
.regbutton {
	border-radius: 40px;
	background-color: rgb(179, 10, 10);
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	width: 200px;
	height: 50px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
.regbutton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.regbutton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.regbutton:hover span {
	padding-right: 25px;
}
.regbutton:hover span:after {
	opacity: 1;
	right: 0;
}
/* Profile button */
.profbutton {
	border: 2px solid #FFA114;
	color: white; 
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}  
.profbutton:hover {
	background-color: #FFA114;
	color: white;
}
.profbutton2 {
	border: 2px solid ;
	color: #FFA114; 
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
} 
.profbutton2:hover {
	background-color: #FFA114;
	color: white;
} 
/* Knowmore button */
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
/*My Profile*/
.myprofile {
	width: 70%;
	margin-left: 200px;
	margin-top: 150px;
}
/*Registration */
#login-box {
	position: relative;
	margin: 5% auto;
	width: 600px;
	height: 400px;
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.left {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
}
h1 {
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	border-bottom: 1px solid #AAA;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
	border-bottom: 2px solid #FFA114;
	color: #FFA114;
	transition: 0.2s ease;
}
input[type="submit"] {
	margin-top: 70px;
	width: 120px;
	height: 32px;
	background: #FFA114;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.1s ease;
	cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
	opacity: 0.8;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	transition: 0.1s ease;
}
input[type="submit"]:active {
	opacity: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	transition: 0.1s ease;
}
.right {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	background: url('https://goo.gl/YbktSj');
	background-size: cover;
	background-position: center;
	border-radius: 0 2px 2px 0;
}
.txt1 {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #999999;
	line-height: 1.5;
}
.txt2 {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #FFA114;
	line-height: 1.5;
}
/*Profile popup*/
.dropdown {
  position: absolute;
  display: inline-block;
  z-index:100;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 100;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Responsive*/
@media (min-width: 1200px) {.container {max-width: 1176px;}}